.customInputMask {
  border-radius: 5px;
  padding: 11px 9px;
  transition: 0.1s;
  font-size: 0.9rem;
  width: stretch;

  border: 1.5px solid #ddd;
  color: #666;
  filter: brightness(1);

  background: transparent;
}

.customInputMask::focus {
  border: 1.5px solid #51beff88;
}

.customInputMask::hover {
  border: 1.5px solid #ccc;
}
